<span title="Template editor">
<img src="data:image/gif;base64,R0lGODlhEAAQANUsAPz6AABEAAB3AEBckvDw8eTk5IOQqtDV3/f39+Xk5OTk5enp6RgxYvHw8f//zBs1Zvr6+jBKfztWjTVQhvv8+9Ta5PHx8DZQhfDx8QqfBtna2TtWjB86a/f29yU/cUBbkypFeJKgu/Hx8dbW1prG5ktnoIYAAMsAABUuXgAAAP9mZv///////wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAACwALAAAAAAQABAAAAaJQFZpSCyWWEjWwEFqOp+DJGpKrVKTn5V2y11FkZKVYLw6mc2jTfIizgQoJ5XcNJokI6uAvmPq90chSSArIg0iBBYiGCIiCxVmLB4rVARVBghxJyYcKwkKBQkFBQoiEJmaD5NTlSgGB6cmLAwaI7W1C5gqZrFIVq6wScFJAAC7wscpxLzHwSnJx0EAOw%3D%3D" />
Template Editor
</span>